@page
@model bulky_Razor_temp.Pages.Categories.EditModel
@{
}

<form method="post">
    @*<input asp-for="Id" hidden/>*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr />
        </div>

        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <label asp-for="Category.Name">
                Category Name
            </label>
            <input asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Category.Description">Description</label>
            <input asp-for="Category.Description" class="form-control" />
            <span asp-validation-for="Category.Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Category.DisplayOrder">Display Order</label>
            <input asp-for="Category.DisplayOrder" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 ">
                <button type="submit" class="btn btn-primary form-control">Update</button>

            </div>
            <div class="col-6 ">

                <a asp-page="/Categories/Index"  class="btn btn-secendory border form-control">Back</a>

            </div>
        </div>
    </div>
</form>
